{% extends 'base.html.twig' %}

{% block title %}Bienvenido{% endblock %}

{% block body %}

<br>
<img src="{{ asset('images/logo.png') }}" alt="Reportes UNDAV" />
<hr>

<h1>Bienvenido - Gestión de reportes comparativos</h1>
<hr>

{% endblock %}
